APScheduler==3.3.1
boto3==1.4.4
botocore==1.5.46
dj-database-url==0.5.0
Django==2.1.5
django-cors-headers==2.4.0
django-filter==2.1.0
django-heroku==0.3.1
djangorestframework==3.9.1
docutils==0.13.1
Faker==0.7.11
google-api-python-client==1.6.5
gunicorn==19.9.0
httplib2==0.10.3
jmespath==0.9.2
Markdown==3.0.1
numpy==1.22.0
oauth2client==4.1.2
#psycopg2==2.7.7
#psycopg2-binary==2.7.7
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-dateutil==2.6.0
python-decouple==3.1
pytz==2017.3
rsa==3.4.2
s3transfer==0.1.10
six==1.11.0
tzlocal==1.4
uritemplate==3.0.0